@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-color: #e1e1e1;
	font-family: 'Muli', sans-serif;
	text-align: center;
}

#insert {
	display: grid;
	gap: 2rem;
}

#insert > div {
	display: grid;
}

p {
	max-width: 90%;
	margin: auto;
}

.key {
	padding: 1em;
	border: 1px solid #999;
	background-color: #eee;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-size: clamp(1.25rem, 0.5rem + 3vw, 4rem);
}

small {
	color: #555;
	font-size: clamp(1.25rem, 0.5rem + 3vw, 4rem);
}

.depreciated {
	position: relative;
	text-decoration: line-through red;
}
.depreciated::after {
	display: none;
	position: absolute;
	content: 'depreciated';
}
.depreciated:hover::after {
	display: unset;
	top: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	color: red;
	text-transform: uppercase;
}

#mobile-keyb-trigger {
	margin-top: 1em;
	font-size: clamp(1.25rem, 0.5rem + 3vw, 4rem);
}

@media (min-width: 48em) {
	#insert {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}
